.pr-info__discast {
  max-width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 16px 0px 0px;
}
@media (max-width: 900px){
  .pr-info__discast {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 700px){
  .pr-info__discast {
    margin: 14px 0px 0px;
  }
}
