.pr-info__button {
  align-self: start;
  margin-left: 18px;
  margin-top: 15px;
  text-rendering: auto;
  color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #000000;
  box-sizing: border-box;
  font: 000 0px Arial;
  padding: 0px 0px;
  border-width: 0px;
  border-style: outset;
  border-image: none;
  border-radius: 0px;
}
