.addbutton {
  align-self: start;
  margin: 33px 0px 0px 27.7%;
  appearance: none;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #000000;
  box-sizing: border-box;
  font: 0px Arial;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
}

.addbutton:hover {
opacity: 0.6;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
}
.addbutton:active {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  }
