.pr-info__name {
  display: flex;
  flex-direction: row;
  align-content: start;
  align-items: flex-start;
  align-self: flex-start;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin-block-start: 0px;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
