.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  border: 1px salmon solid;
  padding-top: 50px;
  max-width: 100%;
  margin: 0px calc((100% - 880px) / 2);
}
@media (max-width: 900px){
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0px calc((100% - 680px) / 2);
  }
  }
@media (max-width: 700px){
  .elements {
    padding-top: 36px;
    grid-template-columns: none;
    grid-template-rows: repeat(6, 1fr);
    margin: 0px calc((100% - 282px) / 2);
  }
}
