.profile__avatar {
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  justify-self: flex-start;
  max-width: 120px;
  /*max-width: calc(100% - 760px);*/
  /*width: 100%;*/
  border-radius: 50%;
 
  }
